/* Auth.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.auth-container {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-container p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.auth-container button {
  font-family: "Poppins";
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  max-width: 500px;
  margin: 0 auto;
}

.room label {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.room input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.room button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.room button:hover {
  background-color: #45a049;
}

.sign-out {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.sign-out:hover {
  background-color: #d32f2f;
}

@media screen and (max-width: 600px) {
  .room {
    padding: 20px;
  }

  .room input[type="text"] {
    margin-bottom: 15px;
  }

  .sign-out {
    padding: 10px 14px;
    font-size: 14px;
  }
}

.chat-app-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  background-color: #128c7e;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #075e54;
}

.header h1 {
  font-size: 1.5rem;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 8px;
}

.user {
  font-weight: bold;
  margin-right: 5px;
}

.new-message-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.new-message-input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.new-message-input:focus {
  border-color: #128c7e;
}

.send-button {
  background-color: #128c7e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #075e54;
}

@media (max-width: 768px) {
  .new-message-form {
    flex-direction: column;
    align-items: stretch;
  }

  .new-message-input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
